<!DOCTYPE html>
<html lang="en">
<head>
    <title>EJS</title>
</head>
<body>
    <h1>EJS 예제 입니다.</h1>
    <div>
        <p><%= title %></p>
        <p><%= content %></p>
        <br>
        <br>
        <% for (var i=0; i<5; i++) { %>
            <p>Hello <%= i %></p>
        <% } %>
    </div>
</body>
</html>